@keyframes slideIn-slideOut{
    
}

@keyframes slideFromLeft{
    from {
        margin-top: -37px;
        margin-left: -31px;
    }
    to {
        margin-top: -60px;
        margin-left: -10px;
    }
}