@keyframes twirl {
    0% {
        transform: rotateY(0rad);
    }
    50% {
        transform: rotateY(3.09rad);
    }
    100% {
        transform: rotateY(0rad);
    }
}



@keyframes spins {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}



@keyframes circling {

}



@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.17);
    }
    
    100% {
        transform: scale(1.17);
    }
}



@keyframes pulsing {
    0%, 50%, 100% { 
        transform: scale(1, 1); 
    }
    30%, 80% { 
        transform: scale(0.90, 0.95); 
    }
}



@keyframes moveUp {

}



@keyframes movedown{

}



