@keyframes increase {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes increaseing {
    0%, 50% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sizeUpThenDown {
    0% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shrink {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}