.header {
	border-bottom: 2px solid $main-color;
    font-family: $font;
    letter-spacing: 1px;
	position: relative;

	&__inner {
		width: 100%;
		padding: 20px 10px;
		position: relative;
		@media (min-width: 1024px) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			max-width: 1178px;
			margin: 0 auto;
		}
	}
	ul {
		li {
		}
		a {
			text-decoration: none;
		}
	}
	.logo {
		font-size: 24px;
		padding: 0 10px;
	}
}

.nav {
	width: 65%;
}
