//media Queries
$mobileSmallestPort: 320px;
$mobileSmallestLand: 568px;

$mobileSmallPort: 375px;
$mobileSmallLand: 667px;

$mobileMedPort: 414px;
$mobileMedLand: 736px;

$tabletPort: 768px;
$tabletLand: 1068px;

$desktop: 1200px;


// colours
$main-color: #030326;
$offBlack: #333333;
$grey-color: #cccccc;
$background-color: #ffffff;
$navy: #02294E;

// fonts
$font: 'Poppins', 'Helvetica', sans-serif;
