.squares {
    @include displayShapes;
    .square {
        padding: 60px;
        display: inline-block;
        background: #6C59F6;
        &:nth-child(2){ background: #D4023A;}
        &:nth-child(3){ background: #EB45C3;}
        &:nth-child(4){ background: #F66659;}
    }
}

.circles {
    @include displayShapes;
    .circle {
        padding: 60px;
        border-radius: 100%;
        display: inline-block;
        background: #6C59F6;
        &:nth-child(2){ background: #D4023A;}
        &:nth-child(3){ background: #EB45C3;}
        &:nth-child(4){ background: #F66659;}
    }
}